<%= simple_form_for(@fighter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.file_field :picture %>
    <%= f.input :ufc %>
    <%= f.input :fight %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
