<h1>Listing predictions</h1>

<table>
  <tr>
    <th>Ufc</th>
    <th>Winner</th>
    <th>Round</th>
    <th>How</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predictions.each do |prediction| %>
  <tr>
    <td><%= prediction.ufc %></td>
    <td><%= prediction.winner %></td>
    <td><%= prediction.round %></td>
    <td><%= prediction.how %></td>
    <td><%= prediction.user_id %></td>
    <td><%= link_to 'Show', prediction %></td>
    <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
    <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prediction', new_prediction_path %>
