<%= simple_form_for(@candidate_search) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :region %>
    <%= f.input :experience %>
    <%= f.input :qualifications %>
    <%= f.input :age %>
    <%= f.input :ethnicity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
