<%= simple_form_for(@bet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name, "Who do you want to Challange" %>
	
  <%= f.collection_select :name, User.order(:name), :name, :name, {}, {multiple:true} %>
  
    <%= f.input :bet, hint: 'Sum up your bet or challange in 120 characters', input_html: { maxlength: 120 } %>
    <%= f.label :terms %>
	<%= f.input_field :terms, as: :text %>
    <%= f.input :deadline, :as => :datetime_picker, hint: 'optional, can set an end date and time for the bet or leave it blank for an open ended bet' %>
    <%= f.input :forefeit, placeholder: 'Do the dishes this evening' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
