<p id="notice"><%= notice %></p>

<p>
  <b>Region:</b>
  <%= @candidate.region %>
</p>

<p>
  <b>Experience:</b>
  <%= @candidate.experience %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @candidate.qualifications %>
</p>

<p>
  <b>Age:</b>
  <%= @candidate.age %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @candidate.ethnicity %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
