 <div class="content">
    <div class="row" >
<div class="col-md-6">
          <div class="grid solid red">
            <div class="grid-title">
              <h4>Grid Two</h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
           <div class="grid-body">
              <h3>Search<span class="semi-bold">form</span></h3>
              <p>You can use all the search options or just the ones that suit your needs.</p>
            <%= search_form_for @search do |f| %>
<div class="field">
    <%= f.label :course_cont, "Uni course" %>
    <%= f.select :course_cont, [ "History", "Media", "English", "Maths", "Art", "Science", "Sport", "Business"],wrapper: false, :size => '32', :input_html => { :id => 'source'},include_blank: true %>
</div>
<div class="field">
    <%= f.label :birthdate_gteq, "Aged between" %>
    <%= f.text_field :birthdate_gteq %>
    <%= f.label :birthdate_lteq, "and" %>
    <%= f.text_field :birthdate_lteq %>    
  </div>
  <div class="field">
    <%= f.label :past_experience_cont, "Past experience" %>
    <%= f.select :past_experience_cont,  [ "Social media promoting", "Bartending", "Waitering/Waitressing", "Sales Assistants", "Supervisor", "Chef", "Kitchen porter", "Cleaner", "Cashier", "Telecommunications", "Festivals"],wrapper: false, :size => '32', :input_html => { :id => 'source'},include_blank: true, :multiple => true %>
</div>
  <div class="actions"><%= f.submit "Search", :class=> "btn btn-default btn-cons" %></div>
<% end %>
			</div>
          </div>
        </div>


                            
                            <div class="grid-body no-border">
                                  <h3>Basic  <span class="semi-bold">Table</span></h3>
                                    <table class="table no-more-tables">
                                        <thead>
                                            <tr>
                                                <th style="width:10%" >
                                                    Picture
                                                </th>
                                                <th style="width:10%">Name</th>
                                                <th style="width:10%">Location</th>
												<th style="width:10%">Uni course</th>
                                                <th style="width:4%">Age</th>
                                                <th style="width:18%">Past experience</th>
                                            </tr>
                                        </thead>
                                        <tbody>





</div>