<div class="content">  
		<div class="row">
		<p id="notice"><%= notice %></p>
			<div class="col-md-6">
			
				<div class=" tiles white col-md-12 no-padding">
					<div class="tiles green cover-pic-wrapper">						
						<div class="overlayer bottom-right">
							<div class="overlayer-wrapper">
									<div class="padding-10 hidden-xs">									
										<button type="button" class="btn btn-primary btn-small"><i class="fa fa-check"></i>&nbsp;&nbsp;Available</button> 
									</div>
								</div>
						</div>
					<%= image_tag "cover_pic.png" %>
					</div>
					<div class="tiles white">
			
						<div class="row">
							<div class="col-md-3 col-sm-3" >
								<div class="user-profile-pic">	
									<%= image_tag(@user_detail.photo, data: { src: "@user_detail.photo", src_retina: "@user_detail.photo" }, width:"109", height:"109") %>
								</div>
								 <div class="user-mini-description">
									<h3 class="text-success semi-bold">
									<%= @user_detail.age %>
									</h3>
									<h5>years old</h5>
									
								</div>
							</div>
							<div class="col-md-7 user-description-box  col-sm-5">
								<h4 class="semi-bold no-margin"><%= @user.user.name %></h4>
								<h6 class="no-margin">Available in <%= @user_detail.location %></h6>
								<br>
								<p><i class="fa fa-briefcase"></i>Worked at <%= @user_detail.past_experience %></p>
								<p><i class="fa fa-globe"></i><a href="<%= @user_detail.social_link %>"><%= @user_detail.social_link %></a></p>
								<p><i class="fa fa-phone"></i> <%= @user_detail.contact_number %></p>
								<p><i class="fa fa-envelope"></i><a href="mailto:<%= @user_detail.contact_email %>"> <%= @user_detail.contact_email %></a></p>
							</div>
							<div class="col-md-3  col-sm-3">
								
								<div class="clearfix"></div>
							</div>				
						</div>
				
				  <div class="tiles-body">
				  <div class="row">
					<div class="post col-md-12">
						<div class="user-profile-pic-wrapper">
							<div class="user-profile-pic-normal">
									<%= image_tag(@user_detail.photo, alt: current_user.name, data: { src: "@user_detail.photo", src_retina: "@user_detail.photo" }, width:"35", height:"35") %>
								</div>
						</div>
						<div class="info-wrapper">					
							<div class="username">
								<span class="dark-text">A few words </span> about <span class="dark-text"><%= @user.user.name %></span>	
							</div>
							<div class="info">
							 <%= @user_detail.about_me %>
								
							</div>	
							
													
								<div class="clearfix"></div>
							<div class="post comments-section">
								
									
									<div class="clearfix"></div>						
							</div>
						<div class="post comments-section">
									
									
									<div class="clearfix"></div>						
							</div>							
						</div>	
						<div class="clearfix"></div>	
						<br>
						<br>
					</div>
				</div>
				</div>
					</div>
				</div>	
			</div>
			
			
			<div class="col-md-6">
				<div class="row">
				<div class="tiles white col-md-12  no-padding">			
					<div class="tiles-body">
						<h5 ><span class="semi-bold"><%= @user.user.name %>'s Education</span>&nbsp;&nbsp;</h5>
						<div class="row">
							<div class="col-md-6">
								<div class="friend-list">
									<div class="friend-profile-pic">
										
										<%= image_tag("unibuild.png", data: { src: "unibuild.png", src_retina: "unibuild.png" }, width:"35") %> 
										
										
									</div>
									<div class="friend-details-wrapper">
										<div class="friend-name">
										<%= @user_detail.university %>
										</div>
										<div class="friend-description">
											University
										</div>
									</div>
									
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="friend-list">
									<div class="friend-profile-pic">
										
									<%= image_tag("uni.png", data: { src: "uni.png", src_retina: "uni.png" }, width:"35") %> 
									
									</div>
									<div class="friend-details-wrapper">
										<div class="friend-name">
									 <%= @user_detail.course %>
										</div>
										<div class="friend-description">
										Course Sector
										</div>
									</div>
									
									<div class="clearfix"></div>
								</div>	
							</div>
						</div>
					</div>
				</div>
				</div>
				<br>
				<br>
				<div class="clearfix"></div>
						
							
							
						
			</div>
		
		 
       <div class="col-md-6">
	      <div class="row">
            <div class="grid simple horizontal red">
                <div class="grid-title ">
                  <h4>Work Experience</h4>
                </div>
              <div class="grid-body">
               <div >
			   <ul>
                  <li>I worked at <%= @user_detail.past_experience %> for around <%= @user_detail.role_length %></span> months</li>
                  <li> My role was as a <%= @user_detail.work_sector %>. </li>
                  <li> My role entailed; <%= @user_detail.about_role %> </li>
                  <li><i class="fa fa-envelope"></i> Reference Email <a href="mailto:<%= @user_detail.reference_details_1 %>"><%= @user_detail.reference_details_1 %></li>
			  </ul>
			   </div>
              </div>
            </div>
		  </div>
		</div>
		
       <div class="col-md-6">
	      <div class="row">
				<div class="grid simple vertical green">
                    <div class="grid-title no-border">
						<h5 >Other<span class="semi-bold">&nbsp;&nbsp;Information</span>&nbsp;&nbsp;</h5>
						<div class="grid-body no-border">
                            <div class="row-fluid">
							<% if @user_detail.driving_license  %>
                              <div class="checkbox check-primary">
							   <br>
                                  <input id="check2" name="check" value="check2" checked="checked" disabled="disabled" type="checkbox">
                            <label for="check1">I Have a Driving License</label>
							</div>
							 <% else %>
							<div class="checkbox check-danger">
							   <br>
                                  <input id="check2" name="check" value="check2" checked="checked" disabled="disabled" type="checkbox">
                            <label for="check1">I do not have a Driving License</label>
							</div>
							<% end %>
                      <br>
					  <% if @user_detail.car  %>
					  <div class="checkbox check-primary">
                      <input id="check2" name="check" value="check2" checked="checked" disabled="disabled" type="checkbox">
                      <label for="check2">I Have access to a car</label>
                             </div>
							 
							  
							    <% else %>
					  <div class="checkbox check-danger">
                      <input id="check2" name="check" value="check2" checked="checked" disabled="disabled" type="checkbox">
                      <label for="check2">I do not have access to a car</label>
                             </div>
							 <% end %>
							   <br>
							<% if @user_detail.criminal_conviction  %>   
							  <div class="checkbox check-danger">
						     <input id="check2" name="check" value="check2" checked="checked" disabled="disabled" type="checkbox">
                             <label for="check1">I have a criminal record</label>		 
                        </div> 
						 <% else %>
						 
						  <div class="checkbox check-primary">
						     <input id="check2" name="check" value="check2" checked="checked" disabled="disabled" type="checkbox">
                             <label for="check1">I do not have a criminal record</label>
							  
                        </div>
						<% end %>
						 <br>
						  <br>
						  <% if user_signed_in? && current_user == (@user_detail) %>
						<div class="pull-right">
						<%=  link_to 'Edit Profile', edit_user_detail_path(@user_detail), :class => "btn btn-primary btn-sm btn-small" %>
						</div>	
						<% else %>
						<% end %>
					</div>	
                    </div>
				<br>
				<br>
				<div class="clearfix"></div>
		</div>
		</div>
	  </div>
</div>