	
	<!-- BEGIN SIDEBAR -->
	<!-- BEGIN MENU -->
	<div class="page-sidebar" id="main-menu"> 
		  <div class="page-sidebar-wrapper" id="main-menu-wrapper">
		<!-- BEGIN MINI-PROFILE -->
		<div class="user-info-wrapper">	
			<div class="user-info">
			
			<% if @profile_complete %>
			<div class="profile-wrapper">
			 <%= image_tag(@user_detail.user.photo, alt: current_user.name, data: { src: "@user_detail.photo", src_retina: "@user_detail.photo" }, width:"69", height:"69") %>
			</div>
			</br>
			 <% end %>   
				<div class="greeting">Welcome</div>
				<div class="username"><%= current_user.name %> </div>
				
		
			</div>
			
			
		</div>
		<!-- END MINI-PROFILE -->
		<!-- BEGIN SIDEBAR MENU -->	
	
		</br>
		<ul>	
			
			<!-- BEGIN BADGE LINK -->
			          <li class=""> 			 		
					<%= link_to '<i class="fa fa-home"></i> Home'.html_safe %>
					 </li>	
				     <% if user_signed_in? && current_user.user_details(:contact_email).present? %>
					
					<li class=""> 
					<%= link_to '<i class="fa fa-user"></i> Profile'.html_safe, profile_path(@user_detail) %>
					 </li>	
					
			 		<li class=""> 
					<%= link_to '<i class="fa fa-pencil"></i> Edit profile'.html_safe, edit_user_detail_path %>
					 </li>	
					<% else %>
				<li class="">	
					
					<%= link_to '<i class="fa fa-pencil"></i> Create profile'.html_safe, new_user_detail_path %>
					
				
			    </li>
			<% end %>
				
		</ul>
		<!-- END SIDEBAR MENU -->
		
	</div>
	</div>
	<!-- BEGIN SCROLL UP HOVER -->
	<a href="#" class="scrollup">Scroll</a>
	<!-- END SCROLL UP HOVER -->
	<!-- END MENU -->
	
	<!-- END SIDEBAR --> 
